@charset "utf-8";
/* CSS Document */


html {
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "outfit", sans-serif;
	background-color: hsl(217, 54%, 11%);
}

section {
	width: 275px;
	height: 500px;
	margin: 230px auto;
	background-color: hsl(216, 50%, 16%);
	padding: 20px;
	border-radius: 10px;
}

.equil-img {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	border-radius: 10px;
	transition: .5s ease-in-out;
	backface-visibility: hidden;
}

.img-box-mid {
	opacity: 0;
	position: relative;
	transition: .5s ease-in-out;
	margin: auto;
	box-shadow: inset 0 0 0 1000px rgba(0, 255, 247,.5);
	border-radius: 10px;
	width: 100%;
	height: 275px;
	transform: translateY(-275px);
}

.viewer {
	position: absolute;
	left: 115px;
	top: 115px;
}

.img-box {
	height: 275px;
}

.img-box:hover {
	cursor: pointer;
}

.img-box-mid:hover {
	opacity: 1;
}

h1 {
	color: white;
	font-size: 1.1rem;
	margin-top:25px;
}

h1:hover {
	color: hsl(178, 100%, 50%);
	cursor: pointer;
}

.info {
	color: hsl(215, 51%, 70%);
	line-height: 1.5;
	font-weight: 300;
}

.amts {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 2fr;
	margin-top: 20px;
}

.eth-img {
	width: 9px;
	height: auto;
}

.eth-text {
	color: hsl(178, 100%, 50%);
	font-weight: 600;
	margin-left: -30px;
	margin-top: 0;
}

.clock-img {
	width: 15px;
	height: auto;
	margin-left: 25px;
	margin-top: 1px;
}

hr {
	border-top: 1px;
	border-color: hsl(215, 32%, 27%);
}

.clock-text {
	color: hsl(215, 51%, 70%);
	margin-top: 0;
}

.user {
	display: grid;
	grid-template-columns: 1fr 5fr;
}

.avatar-img {
	width: 30px;
	height: auto;
	border: .75px solid white;
	border-radius: 50px;
	margin-top: 10px;
}

.avatar-text span {
	color: hsl(215, 51%, 70%);
}

.avatar-text {
	color: white;
	font-size: .9rem;
}

.avatar-text:hover {
	color: hsl(178, 100%, 50%);
	cursor: pointer;
}

.attribution {
	width: 100%;
	height: auto;
	margin: auto;
	position: absolute;
	text-align: center;
	bottom: 0;
	font-size: 11px;
}
    
.attribution a {
	color: hsl(228, 45%, 44%);
}